<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/StyleProd.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<script src="js/Prod.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
<body>
    <%- include('partials/nav') %>
    <section class="brow">
        <select class="sortt" id="sortSelect" onchange="x(this.value, 'brandOptions', 'browprod')">
            <option>Select</option>
            <option>A-Z</option>
            <option>Z-A</option>
            <option>BY BRAND</option>
            <option>By price(LOWER->HIGHER)</option>
            <option>By price(HIGHER->LOWER)</option>
        </select>
        <select id="brandOptions" style="display: none;">
            <option>Select</option>
            <option value="kiko">Kiko</option>
            <option value="rarebeauty">Rare Beauty</option>
            <option value="maybeline">Maybeline</option>
          </select>
    <div class="browprod">
    <% products.forEach(product => { %>
        <div class="AllProducts">
            <div class="container">
                <img src="../images/<%= product.image %>" alt="Makeup img" width="318" height="300" class="imggel">
                <h2 class="eye"><%= product.name %></h2>
                <h3 class="eye"><%= product.price %> $</h3>
                <div class="middle">
                    <div class="text" onclick=""><i class="fa-solid fa-cart-shopping" title="Add To Cart"></i></div>
                    <div id="overlay" style="display: none;"></div>
                    <div class="text" onclick="showPopup(['<%= product.id %>'])"><i class="fa-sharp fa-solid fa-eye" title="View more"></i></div>
                    <div class="text" onclick=""><i class="fa-solid fa-heart" title="Add To Whishlist"></i></div>
                </div>
            </div>
        </div>
    <% }); %>
</div>

</body>











</html>