<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/nav.css">
    <!-- <link rel="stylesheet" href="StyleProd.css"> -->
    <title></title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body class="bodyy">
<%- include('partials/navAdmin') %>
<div>
    <h1 class="user" style="margin-bottom: 20px;">Users</h1>
</div>

<div id="overlay" style="display: none;"></div>
<% if (users && users.length > 0) { %>
    <table class="tab">
        <tr>
            <th class="text">ID</th>
            <th class="text">Username</th>
            <th class="text">Email</th>
            <th class="text">Address</th>
            <th class="text">Phone Number</th>
            <th class="text">Role</th>
            <th class="text"></th>
        </tr>
        <% users.forEach(function(user) { %>
        <tr>
            <td class="text"><%= user._id %></td>
            <td class="text"><%= user.username %></td>
            <td class="text"><%= user.email %></td>
            <td class="text"><%= user.address %></td>
            <td class="text"><%= user.phoneNumber %></td>
            <td class="text"><%= user.type %></td>
            <td class="text">
                <button onclick="showModal(['myModal1'])" class="edit-button">Edit</button>
                <button onclick="showModal(['myModal2'])" class="Remove-button">Remove</button>
            </td>
        </tr>
        <% }); %>
    </table>
<% } else { %>
    <p>There are no Users to display...</p>
<% } %>
<div class="pagination">
    <span class="pagination-info">Page <%= currentPage %> of <%= totalPagesCount %></span>
    <div class="pagination-buttons">
        <% if (currentPage > 1 && currentPage < totalPagesCount) { %>
            <a class="pagination-link" href="/users?page=<%= previousPageNumber %>">Previous</a>
            <a class="pagination-link" href="/users?page=<%= nextPageNumber %>">Next</a>
        <% } else if (currentPage === 1 && totalPagesCount > 1) { %>
            <a class="pagination-link" href="/users?page=<%= nextPageNumber %>">Next</a>
            <a class="pagination-link" href="/users?page=<%= totalPagesCount %>">Last »</a>
        <% } else if (currentPage === totalPagesCount && totalPagesCount > 1) { %>
            <a class="pagination-link" href="/users?page=1">« First</a>
            <a class="pagination-link" href="/users?page=<%= previousPageNumber %>">Previous</a>
        <% } %>
    </div>
</div>

<div class="buttons-container">
    <button onclick="showModal(['myModal'])" class="add-button">Add</button>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal(['myModal'])">&times;</span>
        <h2 style= "color:rgb(211, 170, 170)" class="adduser">Add User</h2>
        <form onsubmit="return UserValidation();">
            <div class="form-group">
                <label class="label-field">First Name:</label>
                <input type="text" name="firstName" placeholder="Enter First Name" class="input-field" id="Fname">
                <div class="error" id="fnameError"></div>
            </div>
            <div class="form-group">
                <label class="label-field">Last Name:</label>
                <input type="text" name="lastName" placeholder="Enter Last Name" class="input-field" id="Lname">
                <div class="error" id="lnameError"></div>
            </div>
            <div class="form-group">
                <label class="label-field">Username:</label>
                <input type="text" name="username" placeholder="Enter Username" class="input-field" id="username">
                <div class="error" id="usernameError"></div>
            </div>
            <div class="form-group">
                <label class="label-field">Password:</label>
                <input type="text" name="pass" placeholder="Enter Password" class="input-field" id="password">
                <div class="error" id="passwordError"></div>
            </div>
            <div class="form-group">
                <label class="label-field">Email:</label>
            <input type="text" name="email" placeholder="Enter Email" class="input-field" id="email">
            <div class="error" id="emailError"></div>
            </div>
            <div class="form-group">
                <label class="label-field">Address:</label>
                <input type="text" name="address" placeholder="Enter Address" class="input-field" id="address">
                <div class="error" id="addressError"></div>
            </div>
            <div class="form-group">
                <label class="label-field">Phone Number:</label>
            <input type="text" name="phone" placeholder="Enter Phone number" class="input-field" id="phone">
            <div class="error" id="phoneError"></div>
            </div>
            <div class="form-group1">
                <label class="label-field">Admin/User:</label>
                <div>
                    <input type="radio" id="admin1" name="role" class="input-field">
                    <label for="admin1">Admin</label>
                </div>
                <div>
                    <input type="radio" id="user1" name="role" class="input-field">
                    <label for="user1">User</label>
                </div>
               
            </div>
            <div class="error" id="UserAdminError"></div>
            <div class="form-group">
                <input type="submit" value="Submit" class="submit-btn">
            </div>
        </form>
    </div>
</div>
<div id="myModal1" class="modal1">
    <div class="modal-content">
        <span class="close" onclick="closeModal(['myModal1'])">&times;</span>
        <h2 style="color:rgb(211, 170, 170)" class="adduser">Edit User</h2>
        
        <% users.forEach(user => { %>
            <form action="/editt/<%= user._id %>?_method=PUT" method="post" onsubmit="return UserValidationEdit();">
                <div class="formprod">
                    <label class="label-field2">Username:</label>
                    <input type="text" name="username" placeholder="<%= user.username %>" class="input-field2" id="name">
                    <div class="error" id="nameError"></div>
                </div>
                <div class="formprod">
                    <label class="label-field2">Email:</label>
                    <input type="email" name="email" placeholder="<%= user.email %>" class="input-field2" id="email">
                    <div class="error" id="emailError"></div>
                </div>
                <div class="formprod">
                    <label class="label-field2">Password:</label>
                    <input type="password" name="password" placeholder="<%= user.password %>" class="input-field2" id="password">
                    <div class="error" id="passwordError"></div>
                </div>
                <div class="formprod">
                    <label class="label-field2">Address:</label>
                    <input type="text" name="address" placeholder="<%= user.address %>" class="input-field2" id="address">
                    <div class="error" id="addressError"></div>
                </div>
                <div class="formprod">
                    <label class="label-field2">Phone Number:</label>
                    <input type="text" name="phoneNumber" placeholder="<%= user.phoneNumber %>" class="input-field2" id="phoneNumber">
                    <div class="error" id="phoneNumberError"></div>
                </div>
                <div class="formprod">
                    <input type="submit" value="Submit" class="submit-btn">
                </div>
            </form>
        <% }) %>
            </div>
        </div>
    <div id="myModal2" class="modal2">
        <div class="modal-content">
            <span class="close" onclick="closeModal(['myModal2'])">&times;</span>
                 <h2 style="color:rgb(211, 170, 170)" class="adduser">Remove User</h2>
                 <% users.forEach(user => { %>
            <form onsubmit="return UservalidationRemove();" action="/deletee/<%= user._id %>?_method=DELETE" method="post">
                <h2>Are you sure you want to delete the user?</h2>
                <!-- <div class="form-group1">
                    <div>
                        <input type="radio" id="Yes1" name="role" class="input-radio">
                        <label for="Yes1">Yes</label>
                    </div>
                    <div>
                        <input type="radio" id="No1" name="role" class="input-radio">
                        <label for="No1">No</label>
                    </div>
                </div>
                <div class="error" id="RadioError"></div> -->
                <div class="form-group">
                    <div>
                        <button type="submit" class="But">Remove User <%= user._id %></button>
                    
                </div>
                </div>
            </form>
            <% }) %>
        </div>
    </div>
    
    <style>
        .pagination {
          display: flex;
          gap: 20px; /* Space between page number and buttons */
          margin-top: 20px;
        }
        
        .pagination-info {
          color: rgb(164, 111, 111);
          padding: 12px 20px;
          font-size: larger;
          font-weight: bold;
        }
        
        .pagination-buttons {
          display: flex;
          gap: 10px; /* Space between buttons */
        }
        
        .pagination-link {
          text-decoration: none;
          color: white;
          background-color: rgb(208, 177, 177);
          padding: 12px 20px;
          margin: 0; /* No margin needed since gap handles spacing */
          border-radius: 5px;
          transition: background-color 0.3s;
          display: inline-block;
        }
        
        .pagination-link:hover {
          background-color: rgb(164, 111, 111);
          color: white;
        }
        
        
                </style>
<script src="js/admin.js"></script>
</body>
</html>